
.clear{
    clear: both;
}
#mainct{
    width: 1100px;
    margin-top: 100px;
}
.side{
    float: left;
    width: 20%;
}
.ct{
    width: 75%;
    border:1px solid #bbb;
    float: left;
    border-radius: 5px;
    margin-left: 5%;
    padding: 20px;
    display: none;
    
}
.input-group{
    margin-bottom: 10px;
}
.input-group span{
    margin-left:20px;
}
.shortinput{
    width: 50%;
}

#msgModal .modal-dialog{
    margin-top: 200px;
    width: 450px;
}
#msgModal .modal-body{
    padding: 5px;
    margin: 0px;
}
#msgModal .modal-footer{
    padding: 5px;
    margin: 0px;
}
#nav-user{
    display: block;
    
    margin-left: 100px;
}
#send,#receivebox,#sendbox{
    display: none;
}
