
.clear{
    clear: both;
}
#mainct{
    width: 1100px;
    margin-top: 100px;
 
    background-color: rgba(222,222,222,0.3);
    border-radius: 10px;
    padding: 20px;
}
#side1{
    width: 40%;
    float: left;
}
#side2{
    width: 60%;
    float: left;
   
}
#side21,#side22,#side23{
    border-radius: 10px;
    background-color: #ffffff;
    height: 135px;
    margin-bottom: 15px;
    padding: 5px;
    overflow:auto;
}
.h4label{
   
margin-right: 10px;
margin-bottom: 10px;


}
footer{
    width: 1100px;
    margin: 20px auto;
}
.side{
    float: left;
    width: 20%;
}
.ct{
    width: 75%;
    border:1px solid #bbb;
    float: left;
    border-radius: 5px;
    margin-left: 5%;
    padding: 20px;
    display: none;
}
.input-group{
    margin-bottom: 10px;
}
.input-group span{
    margin-left:20px;
}
.shortinput{
    width: 50%;
}

#msgModal .modal-dialog{
    margin-top: 200px;
    width: 450px;
}
#msgModal .modal-body{
    padding: 5px;
    margin: 0px;
}
#msgModal .modal-footer{
    padding: 5px;
    margin: 0px;
}
#nav-user{
    display: block;
    
    margin-left: 100px;
}
#userimg img{
    width: 100px;
    height: 100px;
    background-color: #eee;
    border: solid 2px #fff;
    margin-bottom: 15px;
    float: left;
}
#photo{
    margin-left: 15px;
    float: left;
    margin-top: 80px;
}
.short{
    width: 350px;
    float: left;
    margin-right: 50px;
}
#success{
    width: 150px;
    height:150px;
    margin:10px auto;
}
#error{
   width: 120px;
    height:120px;
    margin:25px 10px; 
}
#backhis,#backindex{
    margin-top: 100px;
    margin-left: 10px;
}