<!doctype html>

<html lang="en">
<head>
    <title>消息</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="__PUBLIC__/css/bootstrap.min.css">
        <link rel="stylesheet" href="__PUBLIC__/css/message/message.css">
</head>
<body>
    <!-- Insert your content here -->
     <div class="container">

     
        <h2>操作失败</h2>
        <h3 class="text-warning">消息：{$message}</h3>
        <a href="javascript:history.go(-1)" class="btn  btn-primary" id="back">返回上一页</a>
        <a href="__URL__" class="btn  btn-warning" id="index">回到首页</a>
        
        <img src="__PUBLIC__/images/logo.png" id="logo">
     
        
    </div> <!-- /container -->
  
    <script type="text/javascript" src="__PUBLIC__/js/jquery-1.10.2.js"></script>
    <script src="__PUBLIC__/js/bootstrap.min.js"></script>
   
    
</body>
</html>
