<!doctype html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie" lang="en">
<!--<![endif]-->
<head>
    <title>嘉一教育</title>
     <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
     <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
     <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
      <link rel="stylesheet" href="__PUBLIC__/css/bootstrap.min.css">
    
     <link rel="stylesheet" href="__PUBLIC__/css/index/custom.css">
     <link rel="stylesheet" href="__PUBLIC__/css/index/index.css"> 

        
        <script src="__PUBLIC__/js/modernizr.custom.17475.js"></script>
</head>

<body>
      
    <div class="header">
        
        <div class="topbar">
            
        <div class="logo">
            <img src="__PUBLIC__/images/logo.png">
        </div>
        
        <div class="topc">
            
<ul id="breadcrumb">
  <li><a href="#"><span class="icon icon-home"> </span></a></li>
  <li><a href="__URL__"><span class="glyphicon glyphicon-home"> </span> &nbsp;&nbsp;&nbsp;首页&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
  
  <li><a href="__URL__/newscenter"><span class="glyphicon glyphicon-bullhorn"> </span> &nbsp;&nbsp;&nbsp;新闻中心&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
  <li><a href="__URL__/classlist"><span class="glyphicon glyphicon-list-alt"> </span>&nbsp;&nbsp;&nbsp;嘉一课表&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
  <li><a href="__URL__/aboutus"><span class="glyphicon glyphicon-send"></span>&nbsp;&nbsp;&nbsp;走进嘉一&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
  <li><a href="__URL__/school"><span class="glyphicon glyphicon-inbox"> </span> &nbsp;&nbsp;&nbsp;嘉一分校&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
</ul>


        </div>
        
        </div><!-- end topbar-->
        
        
    </div><!--end header-->
    
  <div class="clear"></div>
        <hr class="tophr">
         <div class="container">
            
            
            
            
            <div class="ncheader1">
                
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    
    <volist name="photo" id="vop">
        <div class="item">
            <a href="{$vop.avalue}"><img src='__ROOT__/Uploads{$vop.value}' style="width: 400px;height: 240px;"></a>
      
      <div class="carousel-caption">
       
      </div> 
    </div> 
</volist>
    
   </div>

 </div> 
                
                
            </div>
            <div class="ncheader2">
                <div class="nch2t">
                    <h4 class="text-primary text-center">祝贺思齐育才校长叶丽萍老师入围2013年千金优雅女性</h4>
                </div>
                <div class="nch2ct">
                    <div class="nch2ctimg">
                        <img src="__ROOT__/Uploads{$ggheader.photo}">
                    </div>
                    <div class="nch2cttext"><a href="__URL__/article/articleid/{$ggheader.id}">
                        {$ggheader.sct}
                    </a>
                    </div>
                    <div class="clear"></div>
                    <div class="nch2ctlist">
                        <volist name="gg" id="vogg">
<div class="listitem">
                            <h5><span class="glyphicon glyphicon-calendar text-muted">&nbsp;{$vogg.time|date="y-m-d",###}</span><span class="lispan"><a href="__URL__/article/articleid/{$vogg.id}">{$vogg.title}</a></span></h5>
                        </div>
</volist>
                       
                        
                    </div>
                  
                </div>
            </div>
            <div class="clear"></div>
            
            <div class="zt">
                <div class="ztbar">
                   <h4 class="text-success">嘉一最新专题<a href="__URL__/articlelist/type/专题策划"><span  class="glyphicon glyphicon-list"></span>&nbsp;查看更多</a></h4> 
                </div>
                <div class="ztct">
                    <volist name="zt" id="vozt">
                        <div class="ztblock">
                       <a href="__URL__/article/articleid/{$vozt.id}"><img src="__ROOT__/Uploads{$vozt.photo}"></a> 
                    </div>
                    </volist>
                </div>
            </div>
            
            
            <div class="news">
        <div class="news1">
            <div class="news1bar">
                <h4 class="text-success">嘉一最新动态<a href="__URL__/articlelist/type/嘉一动态"><span  class="glyphicon glyphicon-list"></span>&nbsp;查看更多</a></h4>
            </div>
            <div class="news1ct">
                <div class="cttop">
                    <img src="__ROOT__/Uploads{$newsheader.photo}">
                        <div class="cttopct">
                            <h4 class="text-success text-center">{$newsheader.title}</h4>
                            <p class="text-muted">
                                {$newsheader.sct}<a class="glyphicon glyphicon-chevron-right" href="__URL__/article/articleid/{$newsheader.id}">&nbsp;查看详情</a>
                            </p>
                        </div>
                </div>
                <volist name="news" id="vonews">
<div class="newslist">
                    <h4><span class="glyphicon glyphicon-bullhorn text-muted">&nbsp;{$vonews.time|date="y-m-d",###}</span><span class="newslistt"><a href="__URL__/article/articleid/{$vonews.id}">{$vonews.title}</a></span></h4>
                </div>
</volist>
                
            </div>
        </div>
        <div class="news2">
            <div class="news2bar">
                <h4 class="text-success">嘉一焦点新闻<a href="articlelist/type/嘉一新闻"><span  class="glyphicon glyphicon-list"></span>&nbsp;查看更多</a></h4>
            </div>
            <div class="news2ct">
                 <div class="cttop">
                    <img src="__ROOT__/Uploads{$dtheader.photo}">
                        <div class="cttopct">
                            <h4 class="text-success text-center">{$dtheader.title}</h4>
                            <p class="text-muted">
                                {$dtheader.sct}<a class="glyphicon glyphicon-chevron-right" href="__URL__/article/articleid/{$dtheader.id}">&nbsp;查看详情</a>
                            </p>
                        </div>
                </div>
                  <volist name="dt" id="vodt">
<div class="newslist">
                    <h4><span class="glyphicon glyphicon-bullhorn text-muted">&nbsp;{$vodt.time|date="y-m-d",###}</span><span class="newslistt"><a href="__URL__/article/articleid/{$vodt.id}">{$vodt.title}</a></span></h4>
                </div>
</volist>
            </div>
            
        </div>
        <div class="clear"></div>
    </div><!-- end news-->
    
    
    
    <div class="news">
        <div class="news1">
            <div class="news1bar">
                <h4 class="text-success">嘉一学员风采<a href="articlelist/type/学员风采"><span  class="glyphicon glyphicon-list"></span>&nbsp;查看更多</a></h4>
            </div>
            <div class="news1ct">
                <div class="cttop">
                    <img src="__ROOT__/Uploads{$xyfcheader.photo}">
                        <div class="cttopct">
                            <h4 class="text-success text-center">{$xyfcheader.title}</h4>
                            <p class="text-muted">
                                {$xyfcheader.sct}<a class="glyphicon glyphicon-chevron-right" href="__URL__/article/articleid/{$xyfcheader.id}">&nbsp;查看详情</a>
                            </p>
                        </div>
                </div>
                <volist name="xyfc" id="voxyfc">
<div class="newslist">
                    <h4><span class="glyphicon glyphicon-bullhorn text-muted">&nbsp;{$voxyfc.time|date="y-m-d",###}</span><span class="newslistt"><a href="__URL__/article/articleid/{$voxyfc.id}">{$voxyfc.title}&nbsp;&nbsp;&nbsp;&nbsp;{$voxyfc.sct}</a></span></h4>
                </div>
</volist>
                
            </div>
        </div>
        <div class="news2">
            <div class="news2bar">
                <h4 class="text-success">嘉一教师风采<a href="articlelist/type/教师风采"><span  class="glyphicon glyphicon-list"></span>&nbsp;查看更多</a></h4>
            </div>
            <div class="news2ct">
                 <div class="cttop">
                    <img src="__ROOT__/Uploads{$jsfcheader.photo}">
                        <div class="cttopct">
                            <h4 class="text-success text-center">{$jsfcheader.title}</h4>
                            <p class="text-muted">
                                {$jsfcheader.sct}<a class="glyphicon glyphicon-chevron-right" href="__URL__/article/articleid/{$jsfcheader.id}">&nbsp;查看详情</a>
                            </p>
                        </div>
                </div>
                  <volist name="jsfc" id="vojsfc">
<div class="newslist">
                    <h4><span class="glyphicon glyphicon-bullhorn text-muted">&nbsp;{$vojsfc.time|date="y-m-d",###}</span><span class="newslistt"><a href="__URL__/article/articleid/{$vojsfc.id}">{$vojsfc.title}&nbsp;&nbsp;&nbsp;&nbsp;{$vojsfc.sct}</a></span></h4>
                </div>
</volist>
            </div>
            
        </div>
        <div class="clear"></div>
    </div><!-- end news-->
    
    
    
    
         </div>   
            
   
     
     <hr class="tophr">
    <div class="footer">
       <div class="ftct">
       
        
      <div class="ft">
        <img id="footlogo" src="__PUBLIC__/images/logosingle.png">
      </div>
      
      <div class="ft">
        <h4>关于我们</h4>
        <h5 class="aulink"><a href="__URL__/aboutus/type/嘉一简介">嘉一简介</a></h5>
        <h5 class="aulink"><a href="__URL__/aboutus/type/企业文化">企业文化</a></h5>
        <h5 class="aulink"><a href="__URL__/aboutus/type/办学理念">办学理念</a></h5>
        <h5 class="aulink"><a href="__URL__/aboutus/type/联系我们">联系我们</a></h5>
      </div>
      
      <div class="ft">
        <h4>友情链接</h4>
        <h5 class="text-primary"><a href="http://www.zjedu.gov.cn/gb/index1.html">浙江省教育厅</a></h5>
        <h5 class="text-primary"><a href="http://www.wzer.net/">温州教育网</a></h5>
        <h5 class="text-primary"><a href="http://www.wzjky.net/">温州科研网</a></h5>
        <h5 class="text-primary"><a href="http://www.yje.cn/">永嘉教育局</a></h5>
      </div>
      
      <div class="ft">
        <h4>联系方式</h4>
        <h5 class="text-muted">电话 400-809-5822</h5>
        <h5 class="text-muted">电话 400-809-5822</h5>
      </div>
      
      <div class="bft">
        <h4>理念</h4>
        <p>真正的强者不一定是多有力，或者多有钱，而是他对别人多有帮助。责任可以让我们将事做完整，爱可以让我们将事情做好。</p>
        <span class="sublink">ICP备案：湘ICP备12005327号</span>
       <span class="sublink">技术支持：leovito科技</span>
      </div>
      
      <div class="clear"></div>
      <div class="link">
       
       
      </div>
       </div><!--end  ftct-->
       
    </div><!-- end footer-->

    
    <script type="text/javascript" src="__PUBLIC__/js/jquery-1.10.2.js"></script>
    <script src="__PUBLIC__/js/bootstrap.min.js"></script>
    
    <script type="text/javascript">
    $(window).load(function() {
       
    
       $(".carousel-inner").find(".item").first().addClass("active");
     
	$('.carousel').carousel('cycle');
       
       
    });
    </script>
        
</body>
</html>
