<!doctype html>

<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="__PUBLIC__/css/bootstrap.min.css">
            <link href="__PUBLIC__/js/themes/default/css/umeditor.css" type="text/css" rel="stylesheet">
             <link rel="stylesheet" href="__PUBLIC__/css/admin/article.css">
                
</head>
<body>
    
     <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
      <div class="container">
        
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">嘉一后台管理系统</a>
        </div>
        
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="__URL__">主页</a></li>
            <li><a href="__URL__/articlelist">文章列表</a></li>
            <li><a href="__URL__/classlist">课程列表</a></li>
            <li><a href="__URL__/competitionlist">竞赛列表</a></li>
            <li><a href="__URL__/schoollist">校区列表</a></li>
            <li><a href="__URL__/testlist">试卷列表</a></li>
            <li><a href="__URL__/orderlist">订单列表列表</a></li>
            <li><a href="__URL__/achievementlist">竞赛成绩列表</a></li>
            <li><a href="__URL__/flink">友情链接列表</a></li>
            <li><a href="__URL__/about">关于</a></li>
            <li><a href="__URL__/contact">联系</a></li>
          </ul>
        </div><!-- /.nav-collapse -->
        
      </div><!-- /.container -->
    </div><!-- /.navbar -->
    
   
    <div class="container" id="mainct">
     <h4 class="text-warning">嘉一网站后台管理系统简介和使用指南</h4>
     <p class="text-danger">请注意本系统仅由网站管理员使用，切勿将账号告知他人或者在公共场所如网吧等使用本账号登入平台</p>
     <p class="text-muted">嘉一网站后台分为9大块，分别为 全局设置，文章发布，首页轮播图片设置，入学测试试卷上传，校区添加，课程发布和竞赛发布等
     ，其中，全局设置中，您可以设置将某会员等级提升为教师级别，或者降级教师级别的账号喂普通账号以及自习定义vip折扣价格和组合优惠课程的添加。
     此外，本站呈现给用户的界面多为文章界面，例如，公告文章，教师风采文章等等，您可以在后台首页的左侧第二栏选择文章发布，选择文章类型发布，文章中可以
     插入图片，和其他类型的媒体文件以及对文章格式的自定义和地图导航等</p>
     <p class="text-muted">
        此外，在顶部的导航栏，您可以编辑以及发布的文章或者修改删除以及存在的一些信息
</p>
     <p class="text-success">
        如使用过程中出现bug，请邮件511912708@qq.com 我们将尽快答复，谢谢
     </p>
    </div>
    
    
    
     <div class="clear"></div>

      <hr>

      <footer>
        <p>&copy; Company 2013</p>
      </footer>

    
    <script type="text/javascript" src="__PUBLIC__/js/jquery-1.10.2.js"></script>
    <script src="__PUBLIC__/js/bootstrap.min.js"></script>
     
    
    <script>
        $(document).ready(function(){
           
  
});
        
    </script>
</body>
</html>
