<!doctype html>

<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="__PUBLIC__/css/bootstrap.min.css">
            <link href="__PUBLIC__/js/themes/default/css/umeditor.css" type="text/css" rel="stylesheet">
                
             <link rel="stylesheet" href="__PUBLIC__/css/admin/index.css">
                
</head>
<body>
    
    <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
      <div class="container">
        
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">嘉一后台管理系统</a>
        </div>
        
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="__URL__">主页</a></li>
            <li><a href="__URL__/articlelist">文章列表</a></li>
            <li><a href="__URL__/classlist">课程列表</a></li>
            <li><a href="__URL__/competitionlist">竞赛列表</a></li>
            <li><a href="__URL__/schoollist">校区列表</a></li>
            <li><a href="__URL__/testlist">试卷列表</a></li>
            <li><a href="__URL__/orderlist">订单列表列表</a></li>
            <li><a href="__URL__/achievementlist">竞赛成绩列表</a></li>
            <li><a href="__URL__/flink">友情链接列表</a></li>
            <li><a href="__URL__/about">关于</a></li>
            <li><a href="__URL__/contact">联系</a></li>
          </ul>
        </div><!-- /.nav-collapse -->
        
      </div><!-- /.container -->
    </div><!-- /.navbar -->
    
   
    <div class="container" id="mainct">
        <div class="input-group shortinput">
  <span class="input-group-addon">决赛搜索</span>
  <input type="text" class="form-control" placeholder="关键字" id="fckey" name="fckey">
     <span class="input-group-btn">
        <button class="btn btn-default" type="submit" id="search">搜索</button>
      </span>
</div>
<table class="table table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>决赛名称</th>
            <th>决赛地点</th>
            <th>决赛价格</th>
            <th>决赛资格分数</th>
            <th>决赛时间</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
            <volist name="fclist" id="vofc">
<tr>
            <td>{$vofc.id}</td>
            <td>{$vofc.name}</td>
            <td>{$vofc.school}</td>
            <td>{$vofc.price}</td>
            <td>{$vofc.score}</td>
            <td>{$vofc.time}</td>
            <td><div class="btn-group">
  <button class="btn btn-danger btn-xs btn-del" value="{$vofc.id}">删除</button>
  
</div></td>
          </tr>
</volist>
          
        </tbody>
      </table>
 <ul class="pagination"> 
 <for start="1" end="$pagenumber">
<li><a href="__URL__/fclist/page/{$i}/searchkey/{$searchkey}/">{$i}</a></li>
</for>
   </ul>
 <div class="clear"></div>

      
    </div><!-- end container-->
     
          
    
    <hr>

      <footer>
        <p>&copy; Company 2013</p>
      </footer>


     <div class="modal fade" id="msgModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      
      <div class="modal-body">
       
      </div>
      <div class="modal-footer">
        <button type="button" id="del" class="btn btn-danger btn-sm" value="">确定</button>
        <button type="button" id="close" class="btn btn-default btn-sm" data-dismiss="modal">取消</button>
        
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
    
    <script type="text/javascript" src="__PUBLIC__/js/jquery-1.10.2.js"></script>
    <script src="__PUBLIC__/js/bootstrap.min.js"></script>
     


    
    <script>
        
        $(document).ready(function(){
            $("#search").click(function(){
        var key=$("#fckey").val();
         window.location.href="__URL__/fclist/searchkey/"+key; 
       })
      
     $(".btn-del").click(function(){
        var id=$(this).val();
         $("#del").attr("value",id);
         $("#msgModal").find(".modal-body").html("<h4>你确定要删除这个竞赛么<small>&nbsp;&nbsp;id:"+id+"</small></h4>");
         $("#msgModal").modal("show");
     });
     $("#del").click(function(){
        var id=$(this).val();
        $.ajax({
   type: "POST",
   url: "__URL__/fcdel",
   data: "id="+id,
   success: function(msg){
    var data = eval("(" + msg + ")");
    if (data.state==1) {
        
    location.reload()
       
        
    }
    else{
        $('#msgModal').modal('hide');
        alert("未知错误，请稍后再试或者重新的登入");
    }
    
   }
		
		});
        
       });
       
        
        
      
       
        
       
});
       
        
    </script>
</body>
</html>
